name: Daily Update Munitions

on:
  schedule:
    # 한국 시간(KST) 매일 06:00 = UTC 매일 21:00 (전날)
    - cron: '0 21 * * *'
  workflow_dispatch: # 수동 실행 가능

jobs:
  update-data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install requests pandas gspread oauth2client

      - name: Run Script
        env:
          DATA_GO_KR_API_KEY: ${{ secrets.DATA_GO_KR_API_KEY }}
          GOOGLE_AUTH_JSON: ${{ secrets.GOOGLE_AUTH_JSON }}
          TZ: Asia/Seoul # 타임존 설정
        run: python munitions_dailydata.py
